# 1- Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 2- Load data

In [ ]:
df_fifa22 = pd.read_csv("../data/players_22.csv")
df_goles22 = pd.read_csv("./data/datos_reales_15_10_2024_id.csv")

In [3]:
df_fifa22["league_name"].value_counts()

league_name
USA Major League Soccer                 771
Argentina Primera División              727
English League Championship             717
English Premier League                  652
Spain Primera Division                  633
English League One                      626
Spanish Segunda División                625
English League Two                      613
Japanese J. League Division 1           589
French Ligue 1                          577
Italian Serie A                         563
German 1. Bundesliga                    551
Turkish Süper Lig                       543
German 3. Bundesliga                    542
French Ligue 2                          529
German 2. Bundesliga                    510
Portuguese Liga ZON SAGRES              505
Polish T-Mobile Ekstraklasa             496
Holland Eredivisie                      492
Mexican Liga MX                         488
Belgian Jupiler Pro League              488
Saudi Abdul L. Jameel League            468
Chinese Super League                    446
Romanian Liga I                         442
Norwegian Eliteserien                   401
Swedish Allsvenskan                     393
Campeonato Brasileiro Série A           360
Korean K League 1                       336
Austrian Football Bundesliga            330
Scottish Premiership                    320
Danish Superliga                        318
Indian Super League                     279
Australian Hyundai A-League             277
Swiss Super League                      270
Rep. Ireland Airtricity League          258
Colombian Liga Postobón                 191
Liga de Fútbol Profesional Boliviano    187
Paraguayan Primera División             174
Ecuadorian Serie A                      171
Peruvian Primera División               163
Venezuelan Primera División             161
Chilian Campeonato Nacional             155
Italian Serie B                         132
Uruguayan Primera División              132
Greek Super League                      112
Russian Premier League                   82
Czech Republic Gambrinus Liga            79
Croatian Prva HNL                        56
South African Premier Division           56
Ukrainian Premier League                 56
Cypriot First Division                   28
UAE Arabian Gulf League                  28
Hungarian Nemzeti Bajnokság I            28
English National League                  27
Finnish Veikkausliiga                    25
Name: count, dtype: int64

# 3- Clean Goals data

In [4]:
df_goles22.drop(columns=["Unnamed: 0"], inplace=True)
df_goles22 = df_goles22[df_goles22["goles"] > 0]
df_goles22.reset_index(drop=True, inplace=True)

NameError: name 'df_goles22' is not defined

In [42]:
df_goles22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nombre       1061 non-null   object
 1   match_id     1061 non-null   int64
 2   posicion     1061 non-null   object
 3   pj           1061 non-null   int64
 4   pt           1061 non-null   int64
 5   goles        1061 non-null   int64
 6   asistencias  1061 non-null   int64
 7   tarjetas     1061 non-null   int64
 8   equipo       1061 non-null   object
 9   porteria     1061 non-null   int64
dtypes: int64(7), object(3)
memory usage: 83.0+ KB

In [43]:
df_fifa22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Columns: 110 entries, sofifa_id to nation_flag_url
dtypes: float64(16), int64(44), object(50)
memory usage: 16.1+ MB

In [44]:
df_goles22.head()

,nombre,match_id,posicion,pj,pt,goles,asistencias,tarjetas,equipo,porteria
0,K. Mbappé,231747,delantero,35,34,28,17,10,psg,0
1,K. Benzema,165153,delantero,32,31,27,12,0,real_madrid,0
2,C. Immobile,192387,delantero,31,31,27,2,4,lazio,0
3,W. Ben Yedder,199451,delantero,37,29,25,5,3,monaco,0
4,M. Salah,209331,delantero,35,30,23,13,1,liverpool,0

# 4- Data viz

In [45]:
display(df_goles22.info());

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nombre       1061 non-null   object
 1   match_id     1061 non-null   int64
 2   posicion     1061 non-null   object
 3   pj           1061 non-null   int64
 4   pt           1061 non-null   int64
 5   goles        1061 non-null   int64
 6   asistencias  1061 non-null   int64
 7   tarjetas     1061 non-null   int64
 8   equipo       1061 non-null   object
 9   porteria     1061 non-null   int64
dtypes: int64(7), object(3)
memory usage: 83.0+ KB

None

In [46]:
l = df_fifa22.columns.to_list()
for i in l:
    print(i)

sofifa_id
player_url
short_name
long_name
player_positions
overall
potential
value_eur
wage_eur
age
dob
height_cm
weight_kg
club_team_id
club_name
league_name
league_level
club_position
club_jersey_number
club_loaned_from
club_joined
club_contract_valid_until
nationality_id
nationality_name
nation_team_id
nation_position
nation_jersey_number
preferred_foot
weak_foot
skill_moves
international_reputation
work_rate
body_type
real_face
release_clause_eur
player_tags
player_traits
pace
shooting
passing
dribbling
defending
physic
attacking_crossing
attacking_finishing
attacking_heading_accuracy
attacking_short_passing
attacking_volleys
skill_dribbling
skill_curve
skill_fk_accuracy
skill_long_passing
skill_ball_control
movement_acceleration
movement_sprint_speed
movement_agility
movement_reactions
movement_balance
power_shot_power
power_jumping
power_stamina
power_strength
power_long_shots
mentality_aggression
mentality_interceptions
mentality_positioning
mentality_vision
mentality_penalties
mentality_composure
defending_marking_awareness
defending_standing_tackle
defending_sliding_tackle
goalkeeping_diving
goalkeeping_handling
goalkeeping_kicking
goalkeeping_positioning
goalkeeping_reflexes
goalkeeping_speed
ls
st
rs
lw
lf
cf
rf
rw
lam
cam
ram
lm
lcm
cm
rcm
rm
lwb
ldm
cdm
rdm
rwb
lb
lcb
cb
rcb
rb
gk
player_face_url
club_logo_url
club_flag_url
nation_logo_url
nation_flag_url

In [5]:
df_goles22.head()

NameError: name 'df_goles22' is not defined

# 5- Limpiar y filtrar FIFA Data

## 0- Rename cols

In [48]:
df_goles22

,nombre,match_id,posicion,pj,pt,goles,asistencias,tarjetas,equipo,porteria
0,K. Mbappé,231747,delantero,35,34,28,17,10,psg,0
1,K. Benzema,165153,delantero,32,31,27,12,0,real_madrid,0
2,C. Immobile,192387,delantero,31,31,27,2,4,lazio,0
3,W. Ben Yedder,199451,delantero,37,29,25,5,3,monaco,0
4,M. Salah,209331,delantero,35,30,23,13,1,liverpool,0
...,...,...,...,...,...,...,...,...,...,...
1056,M. Udol,0,defensa,12,11,1,0,0,metz,0
1057,Kiki Kouyaté,0,defensa,30,30,1,0,9,metz,0
1058,V. Pajot,0,mediocentro,30,27,1,0,7,metz,0
1059,E. Mexer,0,defensa,16,14,1,0,2,girondins_bordeaux,0
1060,E. Kwateng,0,defensa,29,22,1,0,5,girondins_bordeaux,0

In [6]:
df_fifa22 = df_fifa22.rename(columns={"sofifa_id":"match_id"})

## 1- Filtrar por ligas ("Italian Serie A", "French Ligue 2","English Premier League","Spain Primera Division","German 1. Bundesliga")

In [50]:

df_fifa22 = df_fifa22[df_fifa22["league_name"].isin(["Italian Serie A", "French Ligue 2","English Premier League","Spain Primera Division","German 1. Bundesliga"])]

df_fifa22.head()

,match_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
55,208334,https://sofifa.com/player/208334/jonas-hector/...,J. Hector,Jonas Hector,"CDM, LB",78,78,10000000.0,28000.0,31,...,75+2,75+2,75+2,75+2,19+2,https://cdn.sofifa.net/players/208/334/22_120.png,https://cdn.sofifa.net/teams/31/60.png,https://cdn.sofifa.net/flags/de.png,NaN,https://cdn.sofifa.net/flags/de.png
56,225126,https://sofifa.com/player/225126/ellyes-skhiri...,E. Skhiri,Ellyes Joris Skhiri,"CDM, CM",77,79,11500000.0,26000.0,26,...,74+2,74+2,74+2,74+2,20+2,https://cdn.sofifa.net/players/225/126/22_120.png,https://cdn.sofifa.net/teams/31/60.png,https://cdn.sofifa.net/flags/de.png,NaN,https://cdn.sofifa.net/flags/tn.png
57,200316,https://sofifa.com/player/200316/timo-horn/220002,T. Horn,Timo Horn,GK,76,78,6500000.0,21000.0,28,...,28+2,28+2,28+2,27+2,75+2,https://cdn.sofifa.net/players/200/316/22_120.png,https://cdn.sofifa.net/teams/31/60.png,https://cdn.sofifa.net/flags/de.png,NaN,https://cdn.sofifa.net/flags/de.png
58,195038,https://sofifa.com/player/195038/florian-kainz...,F. Kainz,Florian Kainz,"LM, RM",75,75,5500000.0,27000.0,28,...,48+2,48+2,48+2,54+2,18+2,https://cdn.sofifa.net/players/195/038/22_120.png,https://cdn.sofifa.net/teams/31/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1322/60.png,https://cdn.sofifa.net/flags/at.png
59,200318,https://sofifa.com/player/200318/mark-uth/220002,M. Uth,Mark Uth,"CAM, CF, ST",75,75,5500000.0,27000.0,29,...,52+2,52+2,52+2,57+2,17+2,https://cdn.sofifa.net/players/200/318/22_120.png,https://cdn.sofifa.net/teams/31/60.png,https://cdn.sofifa.net/flags/de.png,NaN,https://cdn.sofifa.net/flags/de.png

## 2- Clean columns

In [51]:
columns_to_drop = ["player_url","club_jersey_number","club_loaned_from","club_contract_valid_until","nation_position","nation_jersey_number","player_face_url","club_logo_url","club_flag_url","nation_logo_url","nation_flag_url"]
ns_cols = ["ls""st""rs""lw""lf""cf""rf""rw""lam""cam""ram""lm""lcm""cm""rcm""rm","lwb"]
desired_columns = ["match_id","short_name","shooting","pace","attacking_crossing","attacking_finishing","attacking_heading_accuracy","attacking_volleys","skill_dribbling","skill_curve","skill_fk_accuracy","skill_ball_control","movement_acceleration","movement_sprint_speed","movement_agility","power_shot_power","power_jumping","power_stamina","power_strength","power_long_shots","mentality_aggression","mentality_positioning","mentality_vision","mentality_penalties","mentality_composure"]

In [9]:
df_fifa22.iloc[180:200,0:10].head()

,id_fifa,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age
180,211891,https://sofifa.com/player/211891/andreas-vogls...,A. Voglsammer,Andreas Voglsammer,"LM, ST",72,72,2300000.0,22000.0,29
181,213134,https://sofifa.com/player/213134/levin-oztunal...,L. Öztunalı,Levin Mete Öztunali,"RM, RW, CM",72,73,2800000.0,20000.0,25
182,223641,https://sofifa.com/player/223641/timo-baumgart...,T. Baumgartl,Timo Baumgartl,CB,72,76,2900000.0,11000.0,25
183,228595,https://sofifa.com/player/228595/grischa-prome...,G. Prömel,Grischa Prömel,"CM, CDM",72,74,2900000.0,21000.0,26
184,189390,https://sofifa.com/player/189390/bastian-oczip...,B. Oczipka,Bastian Oczipka,"LB, LWB, CB",71,71,1300000.0,17000.0,32

In [53]:
df = df_fifa22[desired_columns]
df

,match_id,short_name,shooting,pace,attacking_crossing,attacking_finishing,attacking_heading_accuracy,attacking_volleys,skill_dribbling,skill_curve,...,power_shot_power,power_jumping,power_stamina,power_strength,power_long_shots,mentality_aggression,mentality_positioning,mentality_vision,mentality_penalties,mentality_composure
55,208334,J. Hector,60.0,59.0,78,55,67,51,74,65,...,69,80,78,74,61,74,61,74,65,78
56,225126,E. Skhiri,69.0,58.0,67,69,73,60,73,72,...,75,75,91,65,72,69,62,65,58,69
57,200316,T. Horn,NaN,NaN,19,13,14,14,20,12,...,45,64,31,67,17,41,15,45,21,25
58,195038,F. Kainz,73.0,72.0,75,75,55,55,77,69,...,73,70,75,55,76,55,71,69,72,69
59,200318,M. Uth,77.0,73.0,69,75,67,74,76,80,...,83,71,75,66,78,61,74,73,67,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18794,261032,J. Hodge,45.0,59.0,49,37,48,37,54,43,...,56,56,53,57,51,67,51,55,53,57
18795,251590,L. Richards,41.0,61.0,48,38,52,35,47,46,...,49,70,52,63,40,56,42,46,42,46
18796,253461,L. Cundle,51.0,61.0,49,49,38,46,55,51,...,55,50,51,32,52,49,51,55,47,53
18797,258532,C. Carty,54.0,65.0,46,53,50,50,51,49,...,61,63,57,56,51,37,52,48,52,47
18798,244507,P. Estrada,43.0,62.0,41,41,49,34,51,52,...,52,64,48,61,44,40,34,47,40,50

# 5- Join tables

In [55]:
df = pd.merge(df,df_goles22,on="match_id",how="left")
df

,match_id,short_name,shooting,pace,attacking_crossing,attacking_finishing,attacking_heading_accuracy,attacking_volleys,skill_dribbling,skill_curve,...,mentality_composure,nombre,posicion,pj,pt,goles,asistencias,tarjetas,equipo,porteria
0,208334,J. Hector,60.0,59.0,78,55,67,51,74,65,...,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,225126,E. Skhiri,69.0,58.0,67,69,73,60,73,72,...,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200316,T. Horn,NaN,NaN,19,13,14,14,20,12,...,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,195038,F. Kainz,73.0,72.0,75,75,55,55,77,69,...,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200318,M. Uth,77.0,73.0,69,75,67,74,76,80,...,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,261032,J. Hodge,45.0,59.0,49,37,48,37,54,43,...,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2966,251590,L. Richards,41.0,61.0,48,38,52,35,47,46,...,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2967,253461,L. Cundle,51.0,61.0,49,49,38,46,55,51,...,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2968,258532,C. Carty,54.0,65.0,46,53,50,50,51,49,...,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2969,244507,P. Estrada,43.0,62.0,41,41,49,34,51,52,...,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 6- Feature engineering

## 1- Fill NAN

## 2- Get value from Features:
 - international_reputation	
 - work_rate
 - body_type
 - real_face
 - release_clause_eur
 - player_tags
 - ns_cols

# trash

In [57]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# df_notna = df[df["goles"].notna()]

# plt.figure(figsize=(20,10))
# sns.heatmap(df_notna.corr(numeric_only=True),annot=True,vmin=-1,cmap="coolwarm")